:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);

  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);

  --box-shadow: 0px 6px 0px rgb(0 0 0 / 0.1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-image: url(./images/bg-intro-mobile.png);
  background-color: var(--red);
  font-family: "Poppins", sans-serif;
}

h1,
p {
  color: white;
  text-align: center;
}

.container {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;

  /* display: grid;
  grid-template-rows: 1fr 1fr; */
}

.block {
  display: block;
}

.intro {
  margin: 60px 0;
}

.promo {
  background-color: var(--blue);
  color: white;
  text-align: center;
  padding: 20px 40px;
  border-radius: 5px;
  margin: 20px 0;
  box-shadow: var(--box-shadow);
  width: 100%;
}

.active {
  display: block;
}

.hidden {
  display: none;
}

form {
  padding: 15px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
}

input,
button {
  padding: 20px;
  margin: 7px;
  border-radius: 5px;
}

input {
  border: 1px solid var(--grayish-blue);
  border-radius: 5px;
  font-weight: 700;
  color: var(--dark-blue);
}

input:focus {
  outline: none;
}

.input__container {
  position: relative;
}

.input__span {
  position: relative;
  float: right;
  color: var(--red);
  font-size: 0.65rem;
  font-weight: 500;
}

.input__icon {
  position: relative;
  z-index: 50;
  bottom: 50px;
  right: 20px;

  float: right;
}

button {
  background-color: var(--green);
  border: none;
  color: white;
  cursor: pointer;
}

.terms {
  margin: 15px;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--grayish-blue);
  text-align: center;
}

a {
  color: var(--red);
  text-decoration: none;
  font-weight: 700;
}

@media (min-width: 650px) {
  .container {
    /* grid-template-columns: 1fr 1fr; */
    flex-direction: row;
    justify-content: center;
    padding: 100px;
  }

  .intro {
    width: 50%;
  }
  h1,
  p {
    text-align: left;
  }

  h1 {
    font-size: 3rem;
    line-height: 1;
  }
  .body {
    min-width: 325px;
    width: 50%;
  }

  .intro {
padding-right: 7rem;
}
